.smp-header {
  background-color: #0070ff;
  color: #fff;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.smp-header .smp-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  padding: 1em;
}

.smp-header .smp-icon-wrap + .smp-title {
  padding-left: 0;
}

.smp-header .smp-icon-wrap {
  padding: 1em;
}

.smp-header .smp-icon-wrap .smp-icon,
.smp-header .smp-close {
  min-width: 1.5em;
  text-align: center;
}

.smp-header .smp-close {
  cursor: pointer;
  padding: 1em;
}