.smp-header {
  background-color: #0070ff;
  color: #fff;
}

.smp-header .smp-title {
  padding: 1em;
}

.smp-header .smp-icon-wrap + .smp-title {
  padding-left: 0;
}

.smp-header .smp-icon-wrap {
  padding: 1em;
}

.smp-header .smp-close {
  cursor: pointer;
  padding: 1em;
}