.smp-sheet {
  box-shadow: 0px 0px 7px #333;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position: fixed;
}

div > .smp-sheet {
  position: absolute; /* rendered to a target div */
}

.smp-sheet .smp-body {
  background-color: #fff;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.smp-sheet-bottom {
  bottom: -1500px;
  left: 0;
  right: 0;
  width: 100%;

  -moz-transition: bottom 0.5s ease-in-out;
  -webkit-transition: bottom 0.5s ease-in-out;
  -o-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
}

.smp-sheet-show-bottom {
  bottom: 0;
}

.smp-sheet-left {
  bottom: 0;
  height: 100%;
  left: -1500px;
  top: 0;

  -moz-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.smp-sheet-show-left {
  left: 0;
}

.smp-sheet-right {
  bottom: 0;
  height: 100%;
  right: -1500px;
  top: 0;

  -moz-transition: right 0.5s ease-in-out;
  -webkit-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}

.smp-sheet-show-right {
  right: 0;
}

.smp-sheet-top {
  left: 0;
  right: 0;
  top: -1500px;
  width: 100%;

  -moz-transition: top 0.5s ease-in-out;
  -webkit-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

.smp-sheet-show-top {
  top: 0;
}