.smp-modal {
  background: rgba(0,0,0,0.8);
  bottom: 0;
	left: 0;
  right: 0;
	position: fixed;
	top: 0;
  -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	/* z-index: 10000; */
}

.smp-window {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: #000 0px 0px 7px;
  left: calc(50%);
  position: absolute;
  top: calc(50%);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.smp-window .smp-header {
  background-color: #0070FF;
  border-radius: 3px 3px 0 0;
  color: #fff;
  cursor: move;
}

.smp-window .smp-header .smp-title {
  padding: 1em;
}

.smp-window .smp-header .smp-close {
  cursor: pointer;
  padding: 1em;
}

.smp-window .smp-body {
  background-color: #fff;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}